<h2><%= @page.title %></h2>

<table>
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Dev</th>
    <th scope="col">Tools</th>
    <th scope="col">Updated at</th>
  </tr>
</thead>

<tbody>
  <%= for x <- @all_posts do %>
  <tr>
    <td scope="row"><a href="<%= x.url %>"><%= x.title %></a></td>
    <td><%= x.extras["dev"] %></td>
    <td><%= x.extras["langs"] %></td>
    <td><%= x.date %></td>
  </tr>
  <% end %>
</tbody>
</table>
