:where(dl, ol, ul) li {
  margin-bottom: 0;
}

blockquote p {
  margin-bottom: 0;
}

.img_toggle[type="checkbox"] {
  display: none;

  &:checked ~ label img {
    height: auto;
  }
}

.img_block {
  display: flex;
  justify-content: center;
  & img {
    height: 200px;
    object-fit: contain;
  }
}
